.card-body {
    width: 100px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;
}

.card-body>img {
    border-radius: 80px;
}

.card-container {
    display:flex;
    margin: 10px;
}